attrs==19.3.0
audio-metadata==0.11.1
bidict==0.23.1
bitstruct==8.22.0
bluezero==0.9.0
boto3==1.39.13
botocore==1.39.13
certifi==2024.2.2
cffi==1.16.0
cryptography==42.0.5
digi-connectcore-ble==1.0.7
digi-xbee==1.5.0
distlib==0.4.0
filelock==3.20.3
httplib2==0.22.0
idna==3.7
jmespath==1.0.1
more-itertools==10.8.0
nanobind==2.10.2
numpy==1.26.4
packaging==26.0
pandas==2.0.3
pathspec==1.0.4
pendulum==3.2.0
platformdirs==4.5.1
ply==3.11
pprintpp==0.4.0
PyAudio==0.2.14
pycparser==2.21
pycryptodome==3.20.0
PyGObject==3.46.0
pyOpenSSL==24.0.0
pyparsing==3.1.1
pyserial==3.5
python-dateutil==2.9.0
pytz==2024.1
PyYAML==6.0.1
s3transfer==0.14.0
scikit_build_core==0.11.6
setuptools==80.10.2
setuptools-scm==9.2.2
six==1.16.0
soundfile==0.13.1
srp==1.0.22
tbm-utils==2.6.0
tqdm==4.67.3
tzdata==2025.3
urllib3==2.2.2
virtualenv==20.36.1
wheel==0.46.3
wrapt==2.1.1
